:root {
    --main-color: #401606;
    --second-color: #c6c2b1;
    --accent-color: rgb(161, 2, 2); 

}

body {
    font-family: "Sourse Serif Pro", 'Times New Roman', Times, serif;
    color: var(--main-color);
    font-size: 18px;
    background-color: var(--second-color)
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul,ol {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-----------HEADER------------*/

.header {
    border-bottom: 1px solid var(--main-color);
}

.logo {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 22px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-right: 93px;
}

.accent {
    color: var(--accent-color);
}

.header-link {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-item:not(:last-child) {
    margin-right: 45px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-link:hover,
.header-link:focus,
.current {
    color: var(--accent-color);
}

/*-----------HERO------------*/

.hero {
    background-color: var(--main-color);
    padding-top: 210px;
    padding-bottom: 210px;
}

.hero-title {
    font-family: 'Libre Baskerville';
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--second-color);
    margin-bottom: 30px;
}
.hero-link {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    display: block;
    text-align: center;
    cursor: pointer;
}

.hero-link:hover,
.hero-link:focus {
    color: var(--accent-color);
}

/*-----------RESPONSE------------*/

.response {
    border-bottom: 1px solid var(--main-color);
}

.response-list {
    display: flex;
}

.response-item {
    max-width: 270px;
}

.response-item:not(:last-child) {
    margin-right: 30px;
}

.response-second-title {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.response-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

/*-----------PLOT------------*/

.plot .container {
    display: flex;
}

.plot-video {
    margin-right: 50px;
}

.plot-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.plot-text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    max-width: 550px;
}

/*-----------FOOTER------------*/

.footer {
    background-color: var(--main-color);
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .logo {
    color: var(--second-color);
    margin-right: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.footer-link {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
}


.cast-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.cast-list {
    display: flex;
    flex-wrap: wrap;
}

.cast-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}